<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gethost.jgile</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1A4D4744-9D10-48FA-B96F-73C3DA594FC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68D1B711-F5CA-483F-9285-68B9CC1104A6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5132A90-4076-4159-B6F4-BCB23C2C326F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68D1B711-F5CA-483F-9285-68B9CC1104A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5132A90-4076-4159-B6F4-BCB23C2C326F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B4958A9-AE85-414D-B7F8-A895B439B876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE77F6C5-4A72-4EA3-9527-C298F5F7FAC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C415EDB1-1973-4AC6-844F-3D4FC82D8E7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B4958A9-AE85-414D-B7F8-A895B439B876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1B11A506-39DA-4ABE-952E-C41DB902A870</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE77F6C5-4A72-4EA3-9527-C298F5F7FAC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5132A90-4076-4159-B6F4-BCB23C2C326F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C415EDB1-1973-4AC6-844F-3D4FC82D8E7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Gile</string>
	<key>description</key>
	<string>Get website host name.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Get Host</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9B4958A9-AE85-414D-B7F8-A895B439B876</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>copy</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>68D1B711-F5CA-483F-9285-68B9CC1104A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>host</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Find Host</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A4D4744-9D10-48FA-B96F-73C3DA594FC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

IP="$(dig +short $query)"

WHOIS="$(whois $IP | grep "OrgName" | cut -d ":" -f2)"

if [ -z "$WHOIS" ]
then
      echo "$(whois -h whois.arin.net $IP | grep '^[a-zA-Z0-9]')"
else
      echo -e $WHOIS | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//'
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5132A90-4076-4159-B6F4-BCB23C2C326F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>1B11A506-39DA-4ABE-952E-C41DB902A870</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C415EDB1-1973-4AC6-844F-3D4FC82D8E7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Host</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AE77F6C5-4A72-4EA3-9527-C298F5F7FAC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Find the name of a website or ip address host.</string>
	<key>uidata</key>
	<dict>
		<key>1A4D4744-9D10-48FA-B96F-73C3DA594FC6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>68D1B711-F5CA-483F-9285-68B9CC1104A6</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>9B4958A9-AE85-414D-B7F8-A895B439B876</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>AE77F6C5-4A72-4EA3-9527-C298F5F7FAC0</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>C415EDB1-1973-4AC6-844F-3D4FC82D8E7E</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>F5132A90-4076-4159-B6F4-BCB23C2C326F</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
